
/*

Nextflow config file for hi-fever workflow

*/

// Default parameters

params {

    // Required parameters
    entry = "HIFEVER"
    ftp_file = "data/ftp_list.txt"
    query_file_aa = "data/protein_query.fasta"

    // Directory to store output files
    outdir = "output"
 
    // Reciprocal diamond
    custom_reciprocal = false // If true, user needs to provide nr and rvdb diamond databases
    custom_reciprocal_db = "data/minimal_nr_db_50_rvdb.dmnd"
    reciprocal_nr_db = "data/MINI-nr_rep_seq-clustered_70id_80c_wtaxa.dmnd"
    reciprocal_rvdb_db = "data/MINI_rvdbv28_wtaxa.dmnd"
    
    // Taxonomy_table (required when building table from NCBI taxonomy table with all taxa)
    ncbi_taxonomy_table = "data/taxdump.tar.gz"

    // Clustering parameters
    cluster_query = false  // If set to true, queries require clustering
    mmseqs_minseqid = "0.95"
    mmseqs_cover = "0.90"

    // It this is set to true, then we fetch metadata from NCBI with taxid from hosts
    email = ""
    get_all_metadata = false

    // DIAMOND parameters
    diamond_forks = "4"
    chunk_size = "50000"
    diamond_mode = "very-sensitive"
    diamond_matrix = "BLOSUM62"
    diamond_max_target_seqs = "1000"
    
    // Parameters for sequence extraction (to query plus flanking regions)
    interval = "1000" // ??
    flank = "3000" // Flanking regions to extract
    
    // Check where are these parameters used
    orf_size_nt = "150"
    genewise_matrix = "BLOSUM62"
    stop_task = "remove"
    pairs_per_task = 500

    // Optional parameters
    assembly_file = "data/ftp_list.txt"
    

}

// Load cloud config if required

if ( "$params.entry" == "CLOUD" ) {
    includeConfig 'conf/cloud.config'
}
