/*
----------------------------------------------------------------------------------------
Nextflow general configuration
----------------------------------------------------------------------------------------
*/

// DSL used

nextflow.enable.dsl=2

// Config files

includeConfig 'conf/parameters.config'

// Cached processes

resume = true
