[project]
authors = ["CormacKinsella <27350062+CormacKinsella@users.noreply.github.com>"]
channels = ["conda-forge", "bioconda"]
description = "hi-fever pixi base and test tasks"
name = "hi-fever"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
test = {cmd = "nextflow main.nf --query_file_aa 20_per_fam_no_retro.fasta --ftp_file vertebrate_genomes_n5.txt --email noreply@gmail.com -profile apptainer" }
testGetMeta = {cmd = "nextflow main.nf --query_file_aa 20_per_fam_no_retro.fasta --ftp_file vertebrate_genomes_n5.txt --email noreply@gmail.com --get_all_metadata -profile apptainer" }
testCluster = {cmd = "nextflow main.nf --query_file_aa 20_per_fam_no_retro.fasta --ftp_file vertebrate_genomes_n5.txt --email noreply@gmail.com --cluster_query --custom_reciprocal --custom_reciprocal_db MINI_rvdbv28_wtaxa.dmnd -profile apptainer" }
testConda = {cmd = "nextflow main.nf --query_file_aa 20_per_fam_no_retro.fasta --ftp_file vertebrate_genomes_n5.txt --email noreply@gmail.com -profile conda" }
testGetMetaConda = {cmd = "nextflow main.nf --query_file_aa 20_per_fam_no_retro.fasta --ftp_file vertebrate_genomes_n5.txt --email noreply@gmail.com --get_all_metadata -profile conda" }
testClusterConda = {cmd = "nextflow main.nf --query_file_aa 20_per_fam_no_retro.fasta --ftp_file vertebrate_genomes_n5.txt --email noreply@gmail.com --cluster_query --custom_reciprocal --custom_reciprocal_db MINI_rvdbv28_wtaxa.dmnd -profile conda" }

[dependencies]
nextflow="==23.04.1"
apptainer="==1.3.6"
