workDir = 'gs://hifeverbucket/work-failed5-spotfalse'
fusion.enabled = true
wave.enabled = true
process.scratch = false

process {
  executor = 'google-batch'
  container = 'jgninobarreat/hi-fever:v1.0'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'ignore' }
  maxRetries = 5
}

google {
  project = 'paleovirology-2022a'
  location = 'us-central1'
  batch.spot = false
}
