/* 
----------------------------------------------------------------------------------------
Container/conda configuration
----------------------------------------------------------------------------------------
*/

profiles {

	conda {
		apptainer.enabled = false
		conda.enabled = true
	}

	apptainer {
		apptainer.enabled = true
		apptainer.autoMounts = true
		apptainer.cacheDir = "work/apptainer"
		conda.enabled = false
		apptainer.runOptions = '--bind $HOME' // Required for later Nextflow versions (after 23.07.0-edge $HOME is not auto-mounted)
	}

}
