/* 
----------------------------------------------------------------------------------------
Container/conda configuration
----------------------------------------------------------------------------------------
*/

profiles {

	conda {
		apptainer.enabled = false
		conda.enabled = true
	}

	apptainer {
		apptainer.enabled = true
		apptainer.autoMounts = true
		apptainer.cacheDir = "work/apptainer"
		conda.enabled = false
	}

}
