/* 
----------------------------------------------------------------------------------------
Container/conda configuration
----------------------------------------------------------------------------------------
*/

profiles {

	conda {
		conda.enabled = true
		apptainer.enabled = false
	}

	apptainer {
		conda.enabled = false
		apptainer.enabled = true
		apptainer.autoMounts = true
		apptainer.cacheDir = "work/apptainer"
	}

}
